@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* Home and all page styles */
#content {
    max-width: 1600px;
    margin: 0 auto; 
}

body{
    width: 100%;
    background-color: #eeffdb;  
    font-family: 'Roboto Slab', serif;
    max-width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

img{
    width: 80%;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;   
}

h2{
    font-size: 45px;
}

h4, h2{
    font-size: 30px;
}
p{
     font-family: 'Roboto Slab', serif;
}

header {
    background-color: rgb(237,174,73);
    color: #706C61;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
}

.logo{
    margin: 0 auto;
    max-width: 400px;
    padding: 0px;
}

.logo_link{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.logo_link img {
    margin: 0 auto;
    width: 100%;
}

#nav-wrapper{
    position: relative;
}

#nav-wrapper.sticky{
    position: fixed;
    width: 100%;
    top: 0;
}

#nav-bar{
    display: flex;
    flex-direction: column;
}

#hero.sticky {
    margin-top: 85px;
}
 
#account-setup-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.account-travel{
    padding: 10px;
    font-size: 1.5em;
}

#menu_button{
    width: 100%;
    background-color: #edae49;
    border: none;
    box-shadow: 0 6px 5px #3d3b35;
    z-index: 10;
}

#menu_button img{
    width: 80px;
}

nav a {
    color: #706C61;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 35px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #706C61;
    color: #3FA7D6;
}

#navbar {
    background-color: #edae49;
    border: none;
    max-height: 0;
    overflow: hidden;
    transition:  0.3s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 9;
}

#navbar.open {
    max-height: 500px;
    border-bottom: 3px solid #706C61;
}

#account-icon a{
    padding: 0;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-bottom: 40px;
    min-height: 223px;
}


#hero_box img{
    width: 100%;
    height: 110%;
    object-fit: cover;
}

#hero_box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero_msg {
    margin-top: 4%;
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: 200px;
}

#hero_box img{
        height: 110%;
}

#hero_msg h1,
#hero_msg h2 {
    text-align: center;
}

#hero_msg h1 {
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #edae49;
    text-shadow: 2px 2px 5px black;
}


#hero_msg h2 {
    font-family: 'Roboto Slab', sans-serif;
    color: #3FA7D6;
    text-shadow: 2px 2px 5px black;
}

#hero_msg h2{
        display: none;
}

.button_box {
    text-align: center;
    margin-top: 50px;
}

.buy{
    color: #706C61;
    background-color: #edae49;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 5px;
    transition: 0.5s;
}

#order{
    color: #edae49;
    background-color: #706C61;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 5px;
    transition: 0.5s;
}

.buy:hover {
    color: #3FA7D6;
    background-color: #706C61;
}

#order:hover {
    color: #3FA7D6;
    background-color: #46433c;
}
#hproducts{
    box-shadow: 0px 0px 8px 0px black;
    margin-top: -5px;
    margin-bottom: 200px;
    padding: 50px;
    background-color: #706C61;
    display: flex;
    flex-direction: column;
}

.product{
    text-align: center;
}

.product h3{
    font-size: 30px;
    color: #eeffdb;
}

.product img{
    box-shadow: 0px 0px 8px 8px #3d3b35;
    width: 50%;
}

#see_more{
    grid-column: 4/5;
    color: #eeffdb;
    text-align: right;
    transition: 0.5s;
}

#see_more:hover{
    color: #3FA7D6;
    margin-right: -10px;
}

#custom_print_sect{
    display: flex;
    flex-direction: column;
    background-color: #706C61;
    justify-content: center;
}

#image_background{
    padding-top: 40px;
    padding-bottom: 20px;
    grid-column: 1/5;
    grid-row: 1/6;
    width: 80%;
    margin: 0 auto;
}

.custom_print_msg{
    grid-row: 4/5;
    grid-column: 2/4;
    background-color: #edae49;
    text-align: center;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 3px #46433d;
}
.custom_print_msg h2{
    color: #eeffdb;
}


.custom_print_msg p{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 30px;
    color: #706C61;
}

footer{
    margin-top: 100px;
    background-color: #edae49;
    color: #706C61;
    padding: 25px 50px;
    margin-top: 200px;
    align-items: center;
}

footer p{
    text-align: center;
}

footer a {
    color: #706C61;
}

footer a:hover {
    color: #3FA7D6;
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;

}

footer,
.social img {
    padding-top: 15px;
}
.social img{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

.social{
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 1.2em;
}

/* Product Page */
#banner{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
}
#banner img{
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
    object-fit: cover;
    z-index: -1;
}

#banner h1{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 50px;
    color: #706C61;
    text-shadow: 2px 2px 5px black;

}

#banner.sticky {
    margin-top: 85px;
}

#product_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products{
    box-shadow: 0px 0px 8px 0px black;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #706c61b1;
    display: flex;
    flex-direction: column;
}

#filter_bar{
    position: fixed;
    width: 0px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    padding: 20px;
    background-color: #edae49;
    margin: 10px;
    height: min-content;
}

#filter_bar.open {
    top: 25%;
    width: 100%;
    transition: 0.5s;
}

#search_tab_button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: #3fa6d6d6;
    border: #2d789aa8 3px solid;
    border-radius: 50px;
    font-size: 2em;
}

.checkboxes{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.checkboxes input{
    width: 30%;
}

.checkboxes h3{
    margin-left: -40px;
}

#search_bar input{
font-size: 20px;
width: 80%;
}

.product_info{
    display: flex;
}

.product_info h4{
    padding: 5px;
    margin: 0 auto;
    margin-top: -30px;
    margin-bottom: 30px;
}

.product_info h4:nth-child(1){
    color: rgb(152, 0, 0);
}

#custom_order_img{
    width: 100%;
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.custom_order img{
    width: 100%;
    grid-column: 1/5;
}

#custom_msg{
    margin: auto;
    width: 60%;
    height: 50%;
    background-color: gray;
    border-radius: 10px;
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    color: #edae49;
}

#custom_msg p{
    padding-bottom: 20px;
    color: #eeffdb;
}

#custom_msg a{
    background-color: #edae49;
    color: #3FA7D6;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

#custom_msg a:hover{
    color: #706C61;
    background-color: #eeffdb;
    padding: 20px;
    transition: 0.5s;
}


/* Contact Page */

.contact_background{
    background-image: url(https://technovore01101110.github.io/WDD130/sharp-objects/images/contact-banner.png); 
    background-repeat: no-repeat; 
    background-size: 1600px;
    max-width: 1600px;
    background-attachment: fixed;
}

#contact_page.sticky{
    margin-top: 105px;
}

#contact_page{
    width: 90%;
    background-color: #706C61;
    padding: 10px;
    margin-top: 20px;
    border-radius: 40px;
    margin-right: auto;
    margin-left: auto;
}

#contact_page h1{
    margin-right: auto;
    margin-left: auto;
}

#contact_page section{
    display: flex;
    flex-direction: column;
}

form{
    width: 100%;
    height: fit-content;
}

#contact_message h3{
    color: #eeffdb;
}

#contact_page h1{
    text-align: center;
    color: #edae49;
}

form{
    width: 100%;    
}

#side_image{
    width: 90%;
    grid-area: 1/3/3/4;
    margin-top: 20px;
    grid-column: 3/4;
    grid-row: 1/2;
    padding-bottom: 40px;
}

.text_box{
    height: 50px;
}

.message_box{
    height: 200px;
}

.message_boxes  section{
    padding-bottom: 40px;
    display: flex;
}

input{
    font-family: 'Roboto Slab', serif;
}

label{
    width: auto;
    grid-area: 1/1/2/4;
    padding: 10px;
    font-size: 1.17em;
    font-weight: bold;
    color: #eeffdb;
}

.button{
    width: min-content;
    height: min-content;
    margin-left: 70px;
}

.button button{
    width: 200%;
    height: 200%;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding: 10px;
    background-color: #eeffdb;

}

.button button:hover{
    background-color: #edae49;
}

#email{
    margin: 0 20px;
    width: 10%;
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 25px;
    padding-left: 70px;
    color: #eeffdb;
}

#email h4{
    margin-top: 10px;
    font-size: 20px;
}

#mail_info{
    grid-row: 2/3;
    grid-column: 2/3;
    color: #eeffdb;
}

.error{
    text-align: center;
    background-color: rgb(152, 0, 0);
    color: white;
}

#login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-wrapper .error{
    margin-left: 10px;
}

#login-wrapper{
    box-shadow: #ceddbe 25px 23px 11px;
    margin: 0 auto;
    position: relative;
    top: 33vh;
    padding: 20px;
    padding-top: 40px;
    background-color: #706C61;
    width: 500px;
}

#login-wrapper h1, #register-wrapper h1{
    color: #edae49;
    margin-top: 0;
    margin-left: 10px;
}

#login-wrapper div{
    padding: 10px;
}

#login-wrapper label{
    padding-left: 0;
}

#login-wrapper input{
 width: 300px;

}

#login-button, #register-button{
    margin-left: 10px;
    font-size: 20px;
    background-color: #edae49;
    color: #706C61;
    border: none;
    padding: 10px;
}

.account-link{
    display: block;
    color: #3FA7D6;
    margin-top: 10px;
    width: min-content;
    padding: 10px;
    font-size: 20px;
}

#register-wrapper{
    box-shadow: #ceddbe 25px 23px 11px;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    padding: 20px;
    background-color: #706C61;
    width: 400px;
    min-height: 300px;
    text-align: left;
}

#register-wrapper div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#register-wrapper div{
    padding-left: 0;
}

#profile-header{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

#profile-page{
    display: flex;
    gap: 60px;
}

#profile-bar{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #706C61;
    padding: 10px;
    gap: 15px;
}

#profile-bar a{
    font-size: 25px;
    color: #ceddbe;
}

/* nav a {
    color: #706C61;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 35px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #706C61;
    color: #3FA7D6;
} */

/* @media only screen and (max-width: 722px) {
    


    

    #hero_msg{
        
    }

    #hero_msg h1{
        
    }

    #hero{

    }

    

    .custom_print_msg{
        grid-column: 1/5;
    }

    #hproducts{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .product img{
        width: 80%;
    }

    .social{
        width: auto;
    }

    .social img{
        width: 60%;
    }
} */

@media (min-width: 768px) {
    .logo,
    .logo_link{
        padding-left: 20px;
        width: 100px;
    }
    
    #navbar{
        min-height: 144px;
    }

    header{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #nav-wrapper{
        width: 100%;
        align-items: center;
    }

    #nav-wrapper.sticky{
        position: relative;
    }

    #menu_button{
        display: none;
    }

    #navbar{
        max-height: 500px;
        flex-direction: row;
        position: relative;
    }

    #account-wrapper{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #account-icon{
        border: none;
        width: 60px;
        border-radius: 10px;
        background-color: #706C61;
    }

    #account-icon img{
        width: 40px;
    }

    #hero.sticky,
    #banner.sticky {
        margin-top: 0;
    }

    #hero_box img{
        height: 90%;
    }

    #hero_msg h2{
        display: block;
    }

    #hproducts,
    .products{
        width: 80%;
        flex-direction: row;
                flex-wrap: wrap;
    }

    #product_wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    #filter_bar{
        position: relative;
        width: auto;
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .products{
        margin: 0 auto;
        justify-content: left;
        width: 95%;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .product{
        max-width: 330px;
    }

    #page-nav{
        grid-row: 2/3;
        grid-column: 2/3;
    }

}