<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharp Objects - <%= name %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="images/Sharp.png">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/main.js" defer></script>
</head>
<body>
    <header>
        <a href="index" class ="logo_link"><img src="images/Sharp.png" alt="logo link"></a>
        <div id ="nav-wrapper">
            <button id="menu_button"><img src="/images/symbols/bars.png" alt="-"></button>
            <nav id = "navbar">
                <a href="/">Home</a>
                <a href="products">Products</a>
                <a href="contact">Contact Us</a>
            </nav>
        </div>
    </header>
    <h2><%= name %></h2>
</body>
</html>